body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(6,5,82,1) 11%, rgba(9,9,121,1) 35%, rgba(8,21,129,1) 48%, rgba(6,80,168,1) 69%, rgba(4,123,196,1) 86%, rgba(0,212,255,1) 100%);
}
p{
    color: aliceblue;
}
h1{
    color: aliceblue;
}